body {
    background-image: url(../../images/img/main_bcg_img.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 1366px 846px;
    // max-width: 1366px;
}